.height {
  height: 100vh
}

.badge {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  filter: saturate(0);
}

.badge:hover {
  filter: saturate(1);
}

.saturated {
  filter: saturate(1)
}

.navbar-color {
  background-color: hsla(237, 57%, 5%, 90%);
}

.home {
  background: rgb(234,223,255);
  background: linear-gradient(180deg, rgba(234,223,255,1) 20%, rgba(255,204,153,1) 100%); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  width: calc(16px + 1vw);
  height: auto;
}

.name {
  color: hsl(210, 13%, 100%);
}

.hero-links {
  color: hsl(210, 13%, 100%);
}

.hero-links:hover {
  color: hsl(210, 13%, 60%);
}

.selfie {
  width: calc(100px + 2vw);
  border-radius: calc(200px + 4vw);
}

.project {
  background-color: hsla(237, 57%, 5%, 90%);
  border: 1px solid hsla(237, 57%, 5%, 90%);
}

.project:hover {
  background-color: hsla(237, 57%, 5%, 100%);
}

img {
  max-width: 200px;
}

.game-iframe {
  width: 960px;
  height: 600px;
}

