/*styles on html elements*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    font-size: calc(12px + 1vw);
}

body, h1, h3, p, a , ul, li, button, img {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

/*atomic css*/


.gradient {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}
.height {
    height: 100vh;
}

.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left {
    text-align: left;
}

.between {
    justify-content: space-between;
}
.centre-align {
    align-items: center;
}


.stretch {
    align-items: stretch;
}

.wrap {
    flex-wrap: wrap;
}

.padding {
    padding: calc(4px + 0.5vw)
}

.gap {
    gap: calc(16px + 2vw);
}

.gap-xl {
    gap: calc(64px + 4vw);
}

.border {
    border-radius: calc(4px + 0.5vw)
}

.width {
    width: 100%
}

.icon {
    width: calc(16px + 1vw);
    height: auto;
}

.grow {
    transition: all .2s ease-in-out
}

.grow:hover {
    transform: scale(1.05);
}

.grow:active {
    transform: scale(1);
}

.gray {
    background-color: hsl(210, 13%, 90%);
}

.pinky:hover {
    color: hsl(300, 26%, 50%)
}

/*classes for particular elements*/

.name {
    font-size: calc(64px + 2vw);
    color: hsl(210, 13%, 25%);
}

.hero-links {
    font-size: calc(16px + 2vw);
    color: hsl(210, 13%, 45%);
    font-weight: 900;
;
}

.hero-links:hover {
    background-color: hsl(210, 26%, 50%);
    color: hsl(210, 13%, 90%);
    box-shadow: 2px 2px 1px hsl(204, 72%, 50%)
}

.sub-heading {
    font-size: calc(12px + 2vw);
    color: hsl(210, 13%, 15%);
}

.card {
    width: calc(200px + 4vw);
    height: auto;
}

.selfie {
    width: calc(100px + 2vw);
    border-radius: calc(200px + 4vw);
}

.rf-button {
    padding: 4px;
    background-color: hsl(210, 26%, 50%);
    color: hsl(210, 13%, 90%);
    box-shadow: 2px 2px 1px hsl(204, 72%, 50%)
}

.rf-button:hover {
    background-color: hsl(210, 26%, 50%);
    color: hsl(210, 13%, 90%);
    box-shadow: 2px 2px 1px hsl(204, 72%, 50%)
}


.c-button:hover {
    background-color: hsl(210, 13%, 45%);
    color: hsl(210, 13%, 90%);
    border-radius: 4px;
}

img {
    max-width: 200px;
}